<div class="event">
  <div class="label">
  <i class="circular purple studiovinari icon"></i>
    <%# <img src="/images/avatar/small/jenny.jpg"> %>
  </div>
  <div class="content">
    <div class="date">
      <%= time_ago_in_words(message.created_at) %>
    </div>
    <div class="summary">
      <em><%= message.user.username %>:</em>
      <%= simple_format(message.body) %>
    </div>
  </div>
</div>